@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Breath_Demo";
  src: url("/src/assets/Breath_Demo.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Oxygen_Light";
  src: url("/src/assets/oxygen.light.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
